/* header */
header{
    color: #fff;
   height: auto; width: 100%;
   border: 1px solid #e7e7e7;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*nav bar */

  ul {
    list-style-type: none;
    margin: 0;
    position: sticky;
    padding: 0;
  }
  li a {
    display: block;
    width: 100px;
    }
    li {
        display: inline;
      }
  
      li {
        float: left;
      }
      
      a {
        display: block;
        padding: px;
      }
     
      .navbar a {
        float: left;
        text-align: center;
        padding: 12px;
        color: black;
        text-decoration:none;
        font-size: 15px;
      } 


      .icon-bar {
        width: 90px;
        background-color: #555;
      }
      
      .icon-bar a {
        display: block; 
                text-align: center;
        transition: all 0.3s ease;
        color: white;
        font-size: 36px; 
      }
      
      .icon-bar a:hover {
        background-color: #000;
      }
      
      
      .icon-bar {
        width: 100%;
        overflow: auto; 
      }
      
      .icon-bar a {
        float: left; 
        text-align: center; 
        width: 20%;
        padding: 0px 0; 
        transition: all 0.3s ease;
        color: white; 
        font-size: 36px;
      }
      
      .icon-bar a:hover {
        background-color: #000; 
      }



      #image img{
height: auto; 
width: 120%;
padding-top: 20px;
      }
      #image h1{
        margin-top: 5rem;
      }
      #button a{
        color: #fff;
        background-color:black;
        text-decoration: none;
      }
      #button1 a{
        color: #fff;
        text-decoration: none;
      }
      #button {
        border: none;
        text-decoration: none;
        color: #fff;
        text-shadow: #000;
        background-color: #000;
      }
      #button1 {
        border: none;
        text-shadow: #000;
        text-decoration: none;
        background-color: #343a40;
        text-decoration: none;
      }


      #do{
        text-align: center;
        margin: 50rem;
        color: #343a40;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
     #about img{
      height: auto; 
      width: 80%;
      padding-top: 20px;
     }
     #button3{
      background-color:#343a40;
      color: #fff;
     }
     #about h1{
      margin-top:10rem;
      font-weight: 500px;
     }
     #about p{
      font-size:20px;
     }
     #portfolio{
      border: none;
     }
    p {
      font-size: 1em;
      font-family: 'Roboto', sans-serif;
      line-height: 1.6;
      padding: 1em;
    }
    
    #slider-container {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 50px;
    }
    
    #testimonials {
      position: relative;
      justify-content: center;
      margin: 0 auto;
      overflow: hidden;
      width: 1000px;
      height: 450px;
      text-align: center;
    }
    
    figure {
      position: absolute;
      width: 400%;
      left: 0;
      animation: 20s slider infinite;
      -webkit-animation: 1min slider infinite;
      border-bottom: 1px solid black;
      margin: 0;
    }

    #testimonials h1{
      text-align: center;
      color: #000;
    }
    
    blockquote {
      width: 25%;
      margin: 0;
      float: left;
      padding-bottom: 1em;
    }
    
    @-webkit-keyframes slider {
      0%  { transform: translateX(0%); }
      25% { transform: translateX(0%); }
      33% { transform: translateX(-25%); }
      58% { transform: translateX(-25%); }
      66% { transform: translateX(-50%); }
      91% { transform: translateX(-50%); }
      100%{ transform: translateX(-75%); }
    }
    
    @keyframes slider {
       0%  { transform: translateX(0%); }
      25% { transform: translateX(0%); }
      33% { transform: translateX(-25%); }	
      58% { transform: translateX(-25%); }
      66% { transform: translateX(-50%); }
      91% { transform: translateX(-50%); }
      100%{ transform: translateX(-75%); }
    }
    
         
      #testimonials{
        height: 150px;
      }



      #share {
text-align: center;
      }
    

      footer{
        position: absolute;
        background: #343a40;
        height: auto;
        width: 100% ;
        font-family:open sans-serif;
        padding-top: 40px;
        color: #e7e7e7;
      }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
      .footer-content{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
      }
      .footer-content h3{
        font-size: 1.8rm;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 3rem;
      }
      .footer-content p{
        max-width: 200px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;
      }
      .socials{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 2rem;
      }
      .socials li{
        margin: 0 0;
      }
      .socials a{
        text-decoration: none;
        color: #fff;
      }
      .socials a i{
        font-size: 1.1rem;
        transition:color .9s ease;
      }
      .socials a:hover i{
        color: #343a40;
      }
      .footer-bottom{
        background: #000;
        text-align: center;
        height:10vh;
      }
      .footer-bottom p{
        font-style: italic;
        font-size: 20px;
        word-spacing: 2px;
        text-transform: capitalize;
      }
      .footer-bottom span{
        text-transform: uppercase;
        opacity:4;
        font-weight: 100;
      }



      ul {
        list-style-type: none;
        margin: 0;
        position: sticky;
        padding: 0;
      }
      #career li  {
        display: block;
        font-size: 1.5vw;
        width: 100px;
        }
        #career li {
            display: inline;
          }
      
          #career li {
            float:left;
            display: block;
          }
          
          #career {
          padding: px;
          }

          .float{
            position:fixed;
            width:60px;
            height:60px;
            bottom:40px;
            right:40px;
            background-color:#25d366;
            color:#FFF;
            border-radius:50px;
            text-align:center;
            font-size:30px;
            box-shadow: 2px 2px 3px #999;
            z-index:100;
          }
          
          .my-float{
            margin-top:16px;
          }
        
    icon{
      position: relative;
      top: 5px;
      left:5px;
    }


    